<div class="panel retailerPanel">
    <div class="panelHeader"><strong>General</strong></div>
    <div>
        <span class="retailerLabel">Rank:</span>
        <span>@Html.TextBoxFor(model => model.Rank)</span>
    </div>
</div>