@model MultiTenant.Models.RetailerViewModel

<section id="" class="panel retailerPanel">
    <div class="panelHeader"><strong>Sales</strong></div>
    <div>
        <span class="retailerLabel">Calendar Sales:</span>
        <span>@Html.TextBoxFor(model => model.CalendarSales)</span>
    </div>
    <div>
        <span class="retailerLabel">Fiscal Sales:</span>
        <span>@Html.TextBoxFor(model => model.FiscalSales)</span>
    </div>
</section>
