body {
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
}

header, footer, nav, section {
    display: block;
}


/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}


/****************************************************************************************
    Added CSS
****************************************************************************************/

#coreImage {
    background-image: url("/Core/Images/imageCore.jpg");
    display: inline-block;
    height: 150px;
    width: 200px;
}

#customImage {
    background-image: url("/Custom/Images/imageCustom.jpg");
    display: inline-block;
    height: 150px;
    width: 200px;
}

.panel {
    border: 1px solid gray;

	-webkit-box-shadow: 3px 3px 5px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    3px 3px 5px rgba(50, 50, 50, 0.75);
	box-shadow:         3px 3px 5px rgba(50, 50, 50, 0.75);

	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}

.panelHeader {
    background: #ABBBCC;
	color: white;
	padding: 10px 0px 10px 10px;

	-webkit-border-top-left-radius: 8px;
	-webkit-border-top-right-radius: 8px;
	-moz-border-radius-topleft: 8px;
	-moz-border-radius-topright: 8px;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	
	text-shadow: 0 0.15em 0.10em rgba(0, 0, 0, 0.25);	
}

.retailerLabel {
    display: inline-block;
    margin-left: 10px;
    width: 100px;
}

.retailerPanel {
    margin-top: 10px;
    width: 300px;
}

#tenantsParent {
    margin: 0 0 10px 0;
}

.userImage {
    height: 150px;
    width: 200px;
}