.programLabel {
    margin: 0 10px 0 5px;
}

.programLine {
    margin: 10px 0 10px 0;
}

#storeButtonPanel {
    margin: 10px 0 0 0;
}

#storeDetail {
    padding: 10px 0 0 0;
}

.storeLabel {
    display: inline-block;
    margin-left: 10px;
    width: 100px;
}

.storeLine {
    margin: 0 0 10px 0;
}

.storePanel {
    margin: 10px 0 0 0;
    width: 490px;
}

#traitAddButton {
    display: inline-block;
    position: relative;
    margin: 10px 0 0 10px;
    top: 180px;
    width: 40px;
}

#traitAddPanel {
    display: inline-block;
    height: 400px;
    margin: 10px 0 0 0;
    width: 203px;
}

.traitPanelExpanded {
    padding: 0 0 10px 0;
    margin: 10px 0 0 0;
    width: 490px;
}

.traitPanelCollapsed {
    margin: 10px 0 0 0;
    width: 490px;
}

#traitViewPanel {
    display: inline-block;
    height: 400px;
    margin: 10px 0 0 10px;
    width: 203px;
}