
#storeButtonPanel {
    margin: 10px 0 0 0;
}

.storeLabel {
    display: inline-block;
    margin-left: 10px;
    width: 100px;
}

.storePanel {
    margin-top: 10px;
    width: 475px;
}

#traitAddButton {
    float: left;
    margin: 200px 0 0 10px;
    width: 40px;
}

#traitAddPanel {
    height: 400px;
    margin: 10px 0 0 260px;
    width: 200px;
}

.traitPanelExpanded {
    padding: 0 0 10px 0;
    margin: 10px 0 0 0;
    width: 475px;
}

.traitPanelCollapsed {
    margin: 10px 0 0 0;
    width: 475px;
}

#traitViewPanel {
    height: 400px;
    float: left;
    margin: 0 0 0 10px;
    width: 200px;
}