@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>404Error</title>
</head>
<body>
    <div>
        404 Error!!! Opps we lost your page!!! 
    </div>
</body>
</html>
